<!-- Favicon Links -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="32x32" href="Png/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="Png/favicon-16x16.png" />
<link rel="apple-touch-icon" sizes="180x180" href="Png/apple-touch-icon.png" />
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="Png/android-chrome-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="Png/android-chrome-512x512.png"
/>
